@font-face {
  font-family: 'Onest';
  src: url('../../../../public/fonts/Onest-Regular.woff');
  src: local('Onest_Regular'),
    url('../../../../public/fonts/Onest-Regular.woff')
      format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Onest';
  src: url('../../../../public/fonts/Onest-Medium.woff');
  src: local('Onest_Medium'),
    url('../../../../public/fonts/Onest-Medium.woff')
      format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Onest';
  src: url('../../../../public/fonts/Onest-Bold.woff');
  src: local('Onest_Bold'),
    url('../../../../public/fonts/Onest-Bold.woff')
      format('woff');
  font-weight: 700;
}
// @font-face {
//   font-family: 'Onest';
//   src: url('../../../../public/fonts/Onest-ExtraBold.woff');
//   src: local('Onest_Bold'),
//     url('../../../../public/fonts/Onest-Bold.woff')
//       format('woff');
//   font-weight: 700;
// }


