@font-face {
  font-family: 'Onest';
  src: url('../../../../public/fonts/Onest-Regular.woff');
  src: local('Onest_Regular'),
    url('../../../../public/fonts/Onest-Regular.woff')
      format('woff');
  font-weight: normal;
}

/* @font-face {
  font-family: 'LabGrotesque';
  src: url('../../../../public/fonts/LabGrotesque/LabGrotesque-Semibold.woff');
  src: local('LabGrotesque_SemiBold'),
    url('../../../../public/fonts/LabGrotesque/LabGrotesque-Semibold.woff2')
      format('woff2');
  src: local('LabGrotesque_SemiBold'),
    url('../../../../public/fonts/LabGrotesque/LabGrotesque-Semibold.woff')
      format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'LabGrotesque';
  src: url('../../../../public/fonts/LabGrotesque/LabGrotesque-Bold.woff');
  src: local('LabGrotesque_Bold'),
    url('../../../../public/fonts/LabGrotesque/LabGrotesque-Bold.woff2')
      format('woff2');
  src: local('LabGrotesque_Bold'),
    url('../../../../public/fonts/LabGrotesque/LabGrotesque-Bold.woff')
      format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'LabGrotesque';
  src: url('../../../../public/fonts/LabGrotesque/LabGrotesque-Black.woff');
  src: local('LabGrotesque_Black'),
    url('../../../../public/fonts/LabGrotesque/LabGrotesque-Black.woff2')
      format('woff2');
  src: local('LabGrotesque_Black'),
    url('../../../../public/fonts/LabGrotesque/LabGrotesque-Black.woff')
      format('woff');
  font-weight: 900;
} */
